@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500i');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.atas{
	text-align: center;
    font-family: 'Fira Sans';
    font-size: 50px;
    margin-top: 5%;
}

.page-header {
  text-align: center;
}
.page-header small {
  display: block;
}

.cart-row {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}
.cart-row div {
  text-align: center; 
}
.cart-row img.img-responsive { 
  margin: 0 auto; 
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header {
    text-align: left;
  }
  .page-header small {
    display: inline;
  }
}