@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500i');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body{
	width: 100%;
	height: 100%;
}

.navbar-inverse .container-fluid{
	background-color: #565a5d;
}

.navbar-inverse .container-fluid ul li{
	font-family: Roboto Condensed;
}

.navbar-inverse .container-fluid ul li a{
	color: #e8e5dc;
	display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-inverse .container-fluid ul li a:hover{
	background-color: #5b6d77;
}

.dropdown-menu{
	background-color: #565a5d;
	border-radius: 5px;
}

.parallax{
	background-image: url(go/bg.png);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.margin {
	margin-bottom: 30px;
}

.bg-1{
	background-color: #7adfd6;
	color: #373332;
}

.bg-2 { 
      background-color: #ffffff; /* White */
      color: #555555;
}

a img.img-responsive.margin:hover{
	background-color: #ecc9c3;
	opacity: 75%;
}